<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/photos.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Photos</h1>
    <p>Express stock photo application.</p>
    <div class="" id="photos">
        <%  photos.forEach(function(photo){  %>
            <div class="photo">
                <h2><%= photo.name %></h2>
                <img src="<%= photo.path%>" alt="">
            </div>
        <% })%>
        <button><a href="/upload">上传</a></button>
    </div>
</body>
</html>